/* Testimonials Swiper */
.testimonials-swiper {
  background-color: var(--black);
  padding: 100px;
  text-align: center;

  @media (max-width: 991.98px) {
    padding: 0 0 100px;
  }

  & > .container {
    @media (max-width: 767.98px) {
      max-width: 100%;
    }
  }

  & .testimonials-subtitle {
    & h4 {
      font-family: var(--font-subheaders);
      font-size: 48px;
      margin-bottom: -5px;
      color: var(--main);
      line-height: 1.1em;

      @media (max-width: 767.98px) {
        font-size: 36px;
      }
    }
  }

  & .testimonials-title {
    & h3 {
      font-family: var(--font-headers);
      font-size: 48px;
      color: var(--white);
      margin-bottom: 42px;
      line-height: 1.1em;

      @media (max-width: 767.98px) {
        font-size: 36px;
      }
    }
  }

  & .swiper-slide {
    padding: 0 130px;

    @media (max-width: 991.98px) {
      padding: 0;
    }

    & .inner {
      position: relative;
      border: 15px solid var(--main);
      padding: 0 60px 65px;

      @media (max-width: 767.98px) {
        padding: 0 20px 65px;
      }

      & .text {
        p {
          line-height: 1.7em;
          display: block;
          z-index: 2;
          position: relative;
          font-size: 18px;
          padding: 50px 30px 30px;
          font-style: italic;
          margin-bottom: 0;
          font-weight: 500;
          color: var(--white);

          &::before {
            content: "‘‘";
            display: block;
            text-align: center;
            color: var(--main);
            font-size: 120px;
            font-weight: 700;
            font-style: italic;
            height: 48px;
            line-height: 1em;
            margin-top: 0px;
            margin-bottom: 25px;
            margin-left: -30px;
            overflow: hidden;
          }
        }
      }

      & .author {
        font-size: 12px;
        opacity: 0.5;
        color: var(--white);
        text-transform: uppercase;
        font-weight: 500;
      }
    }
  }

  & .swiper-button {
    width: 50px;
    height: 50px;
    border: 1px solid var(--white);
    transition: all 0.3s ease 0s;
    color: var(--white);

    &.swiper-button-prev {
      left: 0;
    }

    &.swiper-button-next {
      right: 0;
    }

    &::after {
      font-size: 20px;
    }

    &:hover {
      background-color: var(--white);
      color: var(--black);
    }
  }
}
